img { max-width: 100%;}

main { 
        /*display: flex;
        flex-wrap: wrap;*/
     }

div { text-align: center;}

footer {
        background-color: rgba(7, 61, 7, 0.158);
    }
    div {
        text-align: RIGHT;
    }
    @font-face {
        font-family: 'StMarieThin';
        src: url('StMarie-Thin-webfont.eot');
        src: url('StMarie-Thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('StMarie-Thin-webfont.woff') format('woff'),
        url('StMarie-Thin-webfont.ttf') format('truetype'),
        url('StMarie-Thin-webfont.svg#StMarieThin') format('svg');
        font-weight: normal;
        font-style: normal;
        }