img { max-width: 100%;}

main { 
        /*display: flex;
        flex-wrap: wrap;*/
     }

div { text-align: center;}

.container {
        flex-direction: row | row-reverse | column | column-reverse;
      }