.img { max-width: 100%;}

.main { 
        /*display: flex;
        flex-wrap: wrap;*/
     }

.div { text-align: RIGTH;}


    div {
        text-align: left;
    }
.flex-container{ text-align:center;

}

.Cozinhas{ text-align:center;
} 

.Varanda{ text-align:center;
}

.video{ text-align:center}